* {
    margin: 0 auto 0 auto;
    text-align: center;
    /* background-color: #FF6961; */
}

.content {
    max-width: 500px;
    margin: 25vh auto auto auto;
}


/* 1. Card Styles  */
.card-width {
    width: 18rem;  
}

/* 2 General Padding/Margin */
.margin-top-s {
    margin-top: 5px;
}

.margin-bottom-s {
    margin-bottom: 5px;
}

.margin-bottom-m {
    margin-bottom: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
